USE [master]
GO
/****** Object:  Database [EComercial]    Script Date: 20/06/2014 14:48:15 ******/
CREATE DATABASE [EComercial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EComercial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.CJZILMAN\MSSQL\DATA\EComercial.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EComercial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.CJZILMAN\MSSQL\DATA\EComercial_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EComercial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EComercial]
GO
/****** Object:  Table [dbo].[Carro]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carro](
	[CarroId] [int] IDENTITY(1,1) NOT NULL,
	[SubTotal] [float] NULL,
	[Precio] [float] NULL,
	[Cantidad] [int] NULL,
	[ProductoId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Carro] PRIMARY KEY CLUSTERED 
(
	[CarroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comprador]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comprador](
	[CompradorId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
	[Apellido] [varchar](250) NULL,
	[Email] [varchar](250) NULL,
	[Telefono] [varchar](250) NULL,
	[UserId] [int] NULL,
	[Direccion] [varchar](250) NULL,
 CONSTRAINT [PK_Comprador] PRIMARY KEY CLUSTERED 
(
	[CompradorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[DetallePedidoId] [int] IDENTITY(1,1) NOT NULL,
	[SubTotal] [float] NULL,
	[Precio] [float] NULL,
	[Cantidad] [int] NULL,
	[ProductoId] [int] NOT NULL,
	[PedidoId] [int] NOT NULL,
 CONSTRAINT [PK_DetallePedido] PRIMARY KEY CLUSTERED 
(
	[DetallePedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estado]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado](
	[EstadoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FormaEntrega]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaEntrega](
	[FormaEntregaId] [int] IDENTITY(1,1) NOT NULL,
	[TipoEntregaId] [int] NULL,
	[Costo] [float] NULL,
	[PedidoId] [int] NOT NULL,
 CONSTRAINT [PK_FormaEntrega] PRIMARY KEY CLUSTERED 
(
	[FormaEntregaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Item]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[SubCategoriaId] [int] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Negocio]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Negocio](
	[NegocioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
	[Direccion] [varchar](250) NULL,
	[Cuit] [varchar](50) NULL,
 CONSTRAINT [PK_Negocio] PRIMARY KEY CLUSTERED 
(
	[NegocioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[PedidoId] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Total] [float] NULL,
	[CompradorId] [int] NOT NULL,
	[EstadoId] [int] NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[ProductoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
	[PrecioCompra] [float] NULL,
	[Cantidad] [int] NULL,
	[FechaActualizacion] [datetime] NULL,
	[Imagen] [varbinary](max) NULL,
	[ItemId] [int] NOT NULL,
	[NegocioId] [int] NULL,
	[PrecioVenta] [float] NULL,
	[Destacado] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubCategoria]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubCategoria](
	[SubCategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
	[CategoriaId] [int] NOT NULL,
 CONSTRAINT [PK_SubCategoria] PRIMARY KEY CLUSTERED 
(
	[SubCategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoEntrega]    Script Date: 20/06/2014 14:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoEntrega](
	[TipoEntregaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
 CONSTRAINT [PK_TipoEntrega] PRIMARY KEY CLUSTERED 
(
	[TipoEntregaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Carro] ON 

INSERT [dbo].[Carro] ([CarroId], [SubTotal], [Precio], [Cantidad], [ProductoId], [UserId]) VALUES (10, 23, 23, 1, 6, 1)
SET IDENTITY_INSERT [dbo].[Carro] OFF
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([CategoriaId], [Nombre]) VALUES (1, N'Autos')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Comprador] ON 

INSERT [dbo].[Comprador] ([CompradorId], [Nombre], [Apellido], [Email], [Telefono], [UserId], [Direccion]) VALUES (1, N'Prueba', N'Prueba', N'Prueba', NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Comprador] OFF
SET IDENTITY_INSERT [dbo].[DetallePedido] ON 

INSERT [dbo].[DetallePedido] ([DetallePedidoId], [SubTotal], [Precio], [Cantidad], [ProductoId], [PedidoId]) VALUES (1, 300, 20, 15, 1, 1)
INSERT [dbo].[DetallePedido] ([DetallePedidoId], [SubTotal], [Precio], [Cantidad], [ProductoId], [PedidoId]) VALUES (2, 345, 23, 15, 2, 1)
INSERT [dbo].[DetallePedido] ([DetallePedidoId], [SubTotal], [Precio], [Cantidad], [ProductoId], [PedidoId]) VALUES (3, 300, 20, 15, 1, 2)
SET IDENTITY_INSERT [dbo].[DetallePedido] OFF
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([EstadoId], [Nombre]) VALUES (1, N'Pendiente')
SET IDENTITY_INSERT [dbo].[Estado] OFF
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([ItemId], [Nombre], [SubCategoriaId]) VALUES (1, N'Puera Trasera', 1)
SET IDENTITY_INSERT [dbo].[Item] OFF
SET IDENTITY_INSERT [dbo].[Negocio] ON 

INSERT [dbo].[Negocio] ([NegocioId], [Nombre], [Direccion], [Cuit]) VALUES (1, N'Super Vea', N'Av Jujuy 3000', N'12-1223445-9')
SET IDENTITY_INSERT [dbo].[Negocio] OFF
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([PedidoId], [Fecha], [Total], [CompradorId], [EstadoId]) VALUES (1, CAST(0x0000A3450005ED96 AS DateTime), 645, 1, 1)
INSERT [dbo].[Pedido] ([PedidoId], [Fecha], [Total], [CompradorId], [EstadoId]) VALUES (2, CAST(0x0000A34500068345 AS DateTime), 645, 1, 1)
INSERT [dbo].[Pedido] ([PedidoId], [Fecha], [Total], [CompradorId], [EstadoId]) VALUES (1002, CAST(0x0000A34501405E8C AS DateTime), 198, 1, 1)
SET IDENTITY_INSERT [dbo].[Pedido] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[SubCategoria] ON 

INSERT [dbo].[SubCategoria] ([SubCategoriaId], [Nombre], [CategoriaId]) VALUES (1, N'Respuestos', 1)
SET IDENTITY_INSERT [dbo].[SubCategoria] OFF
ALTER TABLE [dbo].[Carro]  WITH CHECK ADD  CONSTRAINT [FK_Carro_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([ProductoId])
GO
ALTER TABLE [dbo].[Carro] CHECK CONSTRAINT [FK_Carro_Producto]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Pedido] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedido] ([PedidoId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Pedido]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([ProductoId])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Producto]
GO
ALTER TABLE [dbo].[FormaEntrega]  WITH CHECK ADD  CONSTRAINT [FK_FormaEntrega_Pedido] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedido] ([PedidoId])
GO
ALTER TABLE [dbo].[FormaEntrega] CHECK CONSTRAINT [FK_FormaEntrega_Pedido]
GO
ALTER TABLE [dbo].[FormaEntrega]  WITH CHECK ADD  CONSTRAINT [FK_FormaEntrega_TipoEntrega] FOREIGN KEY([TipoEntregaId])
REFERENCES [dbo].[TipoEntrega] ([TipoEntregaId])
GO
ALTER TABLE [dbo].[FormaEntrega] CHECK CONSTRAINT [FK_FormaEntrega_TipoEntrega]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_SubCategoria] FOREIGN KEY([SubCategoriaId])
REFERENCES [dbo].[SubCategoria] ([SubCategoriaId])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_SubCategoria]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Comprador] FOREIGN KEY([CompradorId])
REFERENCES [dbo].[Comprador] ([CompradorId])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Comprador]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Estado] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Estado] ([EstadoId])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Estado]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([ItemId])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Item]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Negocio] FOREIGN KEY([NegocioId])
REFERENCES [dbo].[Negocio] ([NegocioId])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Negocio]
GO
ALTER TABLE [dbo].[SubCategoria]  WITH CHECK ADD  CONSTRAINT [FK_SubCategoria_Categoria] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([CategoriaId])
GO
ALTER TABLE [dbo].[SubCategoria] CHECK CONSTRAINT [FK_SubCategoria_Categoria]
GO
USE [master]
GO
