@model EComercial.Models.TipoEntrega

@{
    ViewBag.Title = "Detalles";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Tipo de Entrega</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <img src="~/Images/e.png" width="80" height="80" />
            <div>    Nombre: @Html.DisplayFor(model => model.Nombre) </div>
            <br />
            <div>
                @Html.ActionLink("Editar", "Edit", new { id = Model.TipoEntregaId }) |
                @Html.ActionLink("Volver al listado", "Index")
            </div>
        </div>
    </div>
</div>
