@{
    ViewBag.Title = "E-Comercial";
}
<div class="row">
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>
                <p>
                 
                </p>
            </div>
        </section>
    
   </div>
      