@model IEnumerable<EComercial.Models.Categoria>
@{
    ViewBag.Title = "SubCategoriasVistas";
}
<br/>
<table class="table table">
    <tr>
        <td>
            <div class="col-md-12">

                @foreach (var categoria in Model)
                {
                    <div>
                        @foreach (var subCategoria in categoria.SubCategorias)
                        {
                            <div class="col-md-12">
                                <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                                    <li class="active"><a href="#">@subCategoria.Nombre</a></li>
                                    @foreach (var item in subCategoria.Items)
                                    {
                                        @Html.ActionLink(item.Nombre, "ListadoProductos", new { id = item.ItemId })

                                    }
                                </ul>
                            </div>
                        }
                    </div>
                }
            </div>
        </td>
        <td>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Productos</h2>
                </div>
                <div class="panel-body">

                    <div class="col-md-7">
                        @{IList<EComercial.Models.Producto> produts = ViewBag.Products;}
                        @foreach (var product in produts)
                        {
                            <div class="col-md-4">
                                <img src="~/Images/e.png" width="80" height="80" />
                                <div>Descripcion:@Html.DisplayFor(modelItem => product.Nombre) </div>
                                <div>    Precio:@Html.DisplayFor(modelItem => product.PrecioVenta)</div>
                                <div>
                                    <a href="@Url.Content("~/Producto/Details/")@product.ProductoId"> Ver Producto</a> ||
                                    <a href="@Url.Content("~/Carro/Add/")@product.ProductoId">Agregar</a>

                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </td>
    </tr>
</table>





