@model EComercial.Models.Categoria

@{
    ViewBag.Title = "Eliminar";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Categorias - ¿Está seguro de que desea eliminar esto?</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <div>    Nombre: @Html.DisplayFor(model => model.Nombre) </div>
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <p>
                    <input type="submit" class="btn-primary" value="Eliminar" />|
                    @Html.ActionLink("Volver al listado", "Index")
                </p>
            }
        </div>
    </div>
</div>

