@model EComercial.Models.Item

@{
    ViewBag.Title = "Detalles";
}
<h2></h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Items</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <img src="~/Images/e.png" width="80" height="80" />
            <div>    Nombre: @Html.DisplayFor(model => model.Nombre) </div>
            <div>    SubCategoria: @Html.DisplayFor(model => model.SubCategoria.Nombre)</div>
            <br />
            <div>
                @Html.ActionLink("Editar", "Edit", new { id = Model.ItemId }) |
                @Html.ActionLink("Volver al listado", "Index")
            </div>
        </div>
    </div>
</div>


