@model EComercial.Models.SubCategoria

@{
    ViewBag.Title = "Eliminar";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h2 class="panel-title">Sub Categorias - ¿Está seguro de que desea eliminar esto? </h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <img src="~/Images/e.png" width="80" height="80" />
            <div>    Nombre: @Html.DisplayFor(model => model.Nombre) </div>
            <div>    Categoria: @Html.DisplayFor(model => model.Categoria.Nombre)</div>
            <br />
            <div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <input type="submit" class="btn-danger" value="Eliminar" />
    </div>
    <div> 
       @Html.ActionLink("Volver al listado", "Index")
    </div>
}

            </div>
        </div>
    </div>
</div>

