@model EComercial.Models.SubCategoria

@{
    ViewBag.Title = "Detalles";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Sub Categorias</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <img src="~/Images/e.png" width="80" height="80" />
            <div>    Nombre: @Html.DisplayFor(model => model.Nombre) </div>
            <div>    Categoria: @Html.DisplayFor(model => model.Categoria.Nombre)</div>
            <br />
            <div>
                @Html.ActionLink("Editar", "Edit", new { id = Model.SubCategoriaId }) |
                @Html.ActionLink("Volver al listado", "Index")
            </div>
        </div>
    </div>
</div>

